.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 66px;
    padding-left: 22px;
    max-width: 1146px;
    background: linear-gradient(90deg, #72B62B 0%, #57853C 100%);
    box-shadow: 0px 20px 24px rgba(113, 181, 41, 0.26);
    border-radius: 60px;
    
}
.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 70%;
}
.header__link {
    color: #fff;
    margin-right: 33px;
    
    
}
.header__button {   
    width: 127px;
    height: 50px;
    align-self: right;
    margin: 0;    
    background: #5A8B3A;
    border: 2px solid #7DB35B;
    box-sizing: border-box;
    border-radius: 60px;

    font-family: Geometria;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;

    outline: none;
    cursor:pointer;
}
.header__logo {
    margin-right: 22px;
}