@import url('../../../vendor/normalize.css');
@import url('./header/header.css');
@import url('./add-resume/add-resume.css');
@import url('./footer/footer.css');
@font-face {
    src: url('../../../fonts/Geometria/Geometria.ttf');
    font-family: 'Geometria';
}
@font-face {
    src: url('../../../fonts/Geometria/Geometria-Bold.ttf');
    font-family: 'Geometria-bold';
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Geometria';
    
}

.main {
    margin: 0 auto;
}

.ndash_color {
    color: #72B62B;
    line-height: 22px;
    font-family: 'Geometria-bold';
    
}
.description_modif {
    border: 1px solid #72B62B; 
    border-radius: 15px;
    padding: 1px 7px;
    color: #72B62B;
    margin-right: 10px;
    margin-bottom: 10px;
    
}